@use '../helpers' as *;

.header {

    &__title {
        display: flex;
        flex-direction: column;
        padding-top: rem(20);

        &-ar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: var(--color-light);
            @include container;
           
        }
    }

    &__preview {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 4;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include container;
        padding: rem(20);
        color: var(--color-dark);
        background-color: var(--color-light);
        border-bottom: rem(1) solid var(--color-gray);
        border-bottom-left-radius: rem(5);
        border-bottom-right-radius: rem(5);

        &-logo {
            padding-right: rem(100);
        }

        &-name {
            display: flex;
            justify-content: space-between;
            width: rem(160);
        }

        &-entry {
            display: flex;
            align-items: center;
            cursor: pointer;
            background-color: transparent;
            border: none;
            font-family: sans-serif;
            font-size: rem(18);
            transition: opacity 0.2s ease-in-out;
        }

        &-entry:hover {
            opacity: 0.8;
        }

        &-arrow {   
            font-weight: 800;
            fill: var(--color-light);
            padding-left: rem(5);
            
        }

        &-arrow:hover {
            fill: var(--color-gray);
        }

        &-circle {
            display: flex;
            width: rem(9);
            height: rem(9);
            border: 0;
            border-radius: 50%;
            background-color: var(--color-dark);
            margin-left: rem(5);
        }

        &-main {
            color: var(--color-dark);
        }

        &-theme {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: rem(50);
            height: rem(30);
            cursor: pointer;
            border: none;
            background-color: var(--color-light);
            border-radius: rem(30);
            padding: rem(0) rem(6);
        }
    }

    &__menu {
        display: flex;
        flex-direction: column;
        padding-top: rem(80);
        padding-inline: rem(20);

        &-movieList {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            @include container;
            padding: rem(20); 
            background-color: var(--color-light);         
            border-bottom: rem(1) var(--color-gray) solid;
            border-top-left-radius: rem(5);
            border-top-right-radius: rem(5);
        }

        &-li {
            display: flex;
            align-items: center;
            padding-right: rem(10);
            cursor: pointer;
        }

        &-li:hover .header__menu-links {
            color: var(--color-gray);
        }

        &-arrow {
            fill: currentColor;
            padding-left: rem(5);
        }

        &-search {
            position: absolute;
            right: 4%;
            display: flex;
            align-items: center;
        }

        &-links {
            color: var(--color-dark);
            padding-left: rem(5);
            transition: color 0.2s linear;
        }

        &-mg {
            cursor: pointer;
            width: rem(24);
            height: rem(24);
            padding-left: rem(20);
            transition: all 0.3s ease-out;
        }

        &-mg:hover {
            opacity: 0.5;
        }

        &-input {
            width: rem(200);
            padding-block: rem(10);
            color: var(--color-dark);
            border: 0;
            border-radius: rem(10);
            outline: none;
            transition: all 1s ease-out;
        }

        &-catalog {
            display: flex;
            flex-wrap: wrap;
            background-color: var(--color-light);
            width: rem(1320);
            margin: 0 auto;
        }

        &-catalog p {
            display: flex;
            align-items: center;
            cursor: pointer;
            width: auto;
            height: rem(25);
            margin: rem(5);
            padding: rem(5);
            border-radius: rem(5);
            color: var(--color-light);
            background-color: var(--color-blue);
        }
    }
}

.focus {
    // display: grid;
    right: 0;
    width: rem(1200);
}