body {
    font-family: sans-serif;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f4f4f4;
}

a {
    text-decoration: none;
    color: var(--color-blue);
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
p  {
    margin: 0;
}

i {
    font-style: normal;
    color: var(--color-gray-2);
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}
